@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b3764;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

$colorWhite: #ffffff;
$colorYellow: #ffca42;
$silverLight: #f6f8fc;
$blueLight: #b4c7e7;
$colorBlack: #000000;

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-position: center;
  vertical-align: middle;
  background-color: $colorBlack;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn_global($colorBtnt) {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  padding: 18px 52px;
  background: $colorBtnt;
  border: 2px solid $colorBtnt;
}
.pages_header {
  .navbar {
    position: fixed;
    width: 100%;
    background: #1b3764;
    z-index: 9;

    .nav_container {
      max-width: 1300px;
      margin: 0 auto;
      @extend .d-flex;
      justify-content: space-between;

      .nav_left {
        @extend .d-flex;

        .nav_logo {
          width: 119px;
          height: 35px;
          margin-right: 25px;
        }

        .icon_group {
          @extend .d-flex;

          .white_box {
            width: 45px;
            height: 45px;
            background: $colorWhite;
            border: 2px solid $colorWhite;
            margin-left: 10px;
            @extend .d-center;
          }
        }
      }

      .nav_right {
        .nav_collapse {
          @extend .d-flex;

          .nav_item {
            list-style-type: none;
            padding: 0 24px;

            .nav_link {
              text-decoration: none;
              color: $silverLight;
              font-size: 17px;
              line-height: 26px;
              letter-spacing: 0.17px;

              &:active {
                color: $colorYellow;
              }
            }

            .nav_order {
              @include btn_global($colorYellow);
              margin: 22px 0;
            }
          }
        }
      }
    }
  }

  .header_content {
    padding-top: 209px;
    padding-bottom: 100px;
    .container {
      .header_category {
        @extend .d-flex;

        .category_left {
          .d-flex {
            .line_yellow {
              width: 35px;
              height: 10px;
              color: $colorYellow;
            }
            h3 {
              font-family: "Cardo";
              font-style: normal;
              font-weight: 400;
              font-size: 21px;
              line-height: 36px;
              letter-spacing: 1.2px;
              text-transform: capitalize;
              color: $colorWhite;
              margin-bottom: 10px;
            }
          }
          h1 {
            font-family: "Cardo";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 78px;
            letter-spacing: 1.3px;
            color: $colorWhite;
            margin-bottom: 24px;
          }
          p {
            font-size: 18px;
            line-height: 28px;
            color: $blueLight;
            width: 550px;
            margin-bottom: 42px;
          }

          .btn_group {
            @extend .d-flex;
            margin-bottom: 47px;

            .category_btn {
              @include btn_global($colorYellow);
              margin-right: 20px;
            }
            .link_btn {
              padding: 18px 32px;
              border: none;
              background: none;

              a {
                color: $colorWhite;
                font-family: "Cardo";
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 30px;
                letter-spacing: 0.38px;
                text-transform: capitalize;
              }
            }
          }

          .category_box {
            @extend .d-flex;
            gap: 70px;

            .category_content {
              .circle_yellow {
                width: 1rem;
                height: 1rem;
                border-radius: 100px;
                color: $colorYellow;
              }
              h2 {
                font-family: "Cardo";
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.48px;
                color: $colorWhite;
                margin-bottom: 12px;
              }
              h4 {
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 27px;
                color: $blueLight;
              }
            }
          }
        }

        .category_right {
          .header_img {
            width: 592px;
            height: 800px;
            filter: drop-shadow(-1px 2px 11px rgba(0, 0, 0, 0.2));
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 675px) and (max-width: 1180px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  @mixin btn_global($colorBtnt) {
    font-size: 18px;
    padding: 16px 50px;
  }

  .pages_header {
    .navbar {
      .nav_container {
        max-width: 1100px;
        .nav_left {
          .icon_group {
            .white_box {
              width: 40px;
              height: 40px;
            }
          }
        }

        .nav_right {
          .nav_collapse {
            .nav_item {
              padding: 0 12px;

              &:nth-child(6) {
                padding: 0 0 0 12px;
              }
            }
          }
        }
      }
    }

    .header_content {
      padding-top: 170px;
      padding-bottom: 80px;
      .container {
        .header_category {
          .category_left {
            .d-flex {
              .line_yellow {
                width: 30px;
              }
              h3 {
                font-size: 18px;
              }
            }
            h1 {
              font-size: 55px;
              line-height: 78px;
              margin-bottom: 20px;
            }
            p {
              font-size: 16px;
              width: none;
              margin-bottom: 38px;
            }

            .btn_group {
              margin-bottom: 36px;

              .category_btn {
                margin-right: 10px;
              }
            }

            .category_box {
              gap: 50px;

              .category_content {
                h2 {
                  font-size: 20px;
                  margin-bottom: 10px;
                }
                h4 {
                  font-size: 1em;
                }
              }
            }
          }

          .category_right {
            .header_img {
              width: 592px;
              height: 800px;
              filter: drop-shadow(-1px 2px 11px rgba(0, 0, 0, 0.2));
            }
          }
        }
      }
    }
  }
}
